/Invert.MVVM/obj
/Invert.MVVM/bin
/Invert.Common/obj
/Invert.Common/bin
/Invert.uBehaviours/obj
/Invert.uBehaviours/bin
/Invert.uBehaviours.Editor/obj
/Invert.uBehaviours.Editor/bin
/Invert.uFrame.CodeGen/obj
/Invert.uFrame.CodeGen/bin
/Invert.uFrame.Editor/obj
/Invert.uFrame.Editor/bin
/Invert.uFrame.Editor.UnitTests/obj
/Invert.uFrame.Editor.UnitTests/bin
obj
bin
*.dll
*.cache
